@import url(reset.css);

a{
	color: aquamarine;
}

body {
	background-color: #7cf6fd;
}


.header {
	color: rgba(165, 42, 42, 0.626);
	
}
.main {
	color: #fcf9bf;
	background-color: #707d9d;
		
}
.intro {
	color: #E56b6f;
}
#list {
	color: #f72585;
}
.examples {
	color: #4361ee;
}

div.main {
	color: fuchsia
}

h3 {
	color: #02fbff;
}

.main p{
	color: #4361ee;
}

.footer {
}
